    <div class="container">
      <div class="card" style="border-color: rgb(251 189 24 / 40%);background-color: black;">
        <div id="roulette-card-background">
          <div class="card-body">
            <br>
            <br>
            <div class="container">
              <center>
                 <div id="actionResultRoullete"></div> 
              </center>
              <center>
                <input type="button" value="spin" onclick="spin();" class="form-control">
                <canvas id="wheelcanvas" width="500" height="500"></canvas>
              </center>
            </div>
          </div>
        </div>
      </div>
    </div>
    
   



