    <div class="container">
      <div class="card" style="border-color: rgb(251 189 24 / 40%);background-color: black;">
        <div id="roulette-card-background">
          <div class="card-body">
            <br>
            <br>
            <div class="container">
              <center>
                 
              </center>

              <center>
                
                <!-- <input type="button" value="spin" id="spinRoulette" onclick="spin()" class="form-control" id="rouletteBtn"> -->
                <canvas id="wheelcanvas" width="500" height="500"></canvas>
               
              </center>
              <center>
                  
                  <div id="actionResultRoullete"></div> 
                  <div class="row">
                    <div class="col-md-12">
                        <button  type="button" id="rouletteBtn" onclick="spin()" class="btn btn4 btn-lg" style="color:white" class="form-control" disabled>Spin</button>
                    </div>
    
                  </div>
              </center>
             
              
            </div>
          </div>
        </div>
      </div>
    </div>
    
   



