  <div class="card" style="border-color: rgb(251 189 24 / 40%);background-color: black;">
    <div class="card-body">
      <div id="randomize">
        <div class="container">
          <center><h4 style="color:white">Vegas Coin Slot Machine</h1></center>


          <div class="row">
            <div class="col-sm-4">
              <div>
                <div id="machine1" class="randomizeMachine">
                  <img src="img/AirDrop.png" width="100%" />
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <div>
                <div id="machine2" class="randomizeMachine">
                  <img src="img/Burn.png" width="100%" />
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <div>
                <div id="machine3" class="randomizeMachine">
                  <img src="img/Mint.png" width="100%" />
                </div>
              </div>
            </div>

            <div class="btn-group btn-group-justified" role="group">
              <button id="randomizeButton" type="button" onclick="slotMachineRandomize()" class="btn btn4 btn-lg"
                style="color:white">Shuffle</button>&nbsp;&nbsp;<button id="reset" type="button"
                class="btn btn-danger btn-lg" onclick="reset()">Reset</button>
            </div>
            <br>

          </div>
          <center>
            <div id="actionResult"></div>
          </center>
          <!-- <div class="row">
                <div class="col-sm-10 offset-sm-1">
                  <pre><code id="codeBlock2"></code></pre>
                </div>
              </div> -->
        </div>
      </div>
    </div>
  </div>
